:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #ffffff;
  --background: #121212;
  --foreground: #121212;
  --text-primary: #e0e0e0;
  --text-secondary: #aaaaaa;
  --button-primary-hover: #444444;
  --button-secondary-hover: #1a1a1a;
  --button-secondary-border: #333333;
  --table-row-hover: #1f1f1f;
  --danger-color: #e53e3e;
  --danger-hover-color: #c53030;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background);
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
  color: var(--text-primary);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    --background: #f7fafc;
    --foreground: #ffffff;
    --text-primary: #2d3748;
    --text-secondary: #718096;
    --button-secondary-border: #e2e8f0;
    --table-row-hover: #edf2f7;
    --danger-color: #e53e3e;
    --danger-hover-color: #c53030;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}